<div style="height: 100%;">
	<div style="height: 24px; width: 100%; text-align: left;">
		<div style="display: table-cell; width: 100%;">
			<b>Historical Currency</b>
		</div>
		<div style="display: table-cell;">
			<div class="input-group"
				style="height: 20px; width: 20px; padding: 0;">
				<div class="input-group-btn">
					<button
						style="height: 20px; width: 20px; padding: 0; background: none; border: none;">
						<span style="font-size: 10px; margin: 0; padding: 0;"
							class="glyphicon glyphicon-wrench"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<form name="searchForm" ng-submit="searchForm.$valid">
			<fieldset ng-disabled="isLoading">
				<div class="row">
					<div class="col-sm-5">
						<span class="pull-left">Base Currency:</span>
					</div>
					<div class="col-sm-7">
						<select class="form-control" ng-model="query.baseCurrency"
							name="baseCurrency" ng-init="getPRM('PRM_CURRENCY_LIST')"
							ng-options="currency.value for currency in PRM_CURRENCY_LIST"
							ng-disabled="true" required></select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-5">
						<span class="pull-left">Quote Currency:</span>
					</div>
					<div class="col-sm-7">
						<select class="form-control" ng-model="query.quoteCurrency"
							name="quoteCurrency" ng-init="getPRM('PRM_CURRENCY_LIST')"
							ng-options="currency.value for currency in PRM_CURRENCY_LIST"
							required></select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-5">
						<span class="pull-left">Date:</span>
					</div>
					<div class="col-sm-7">
						<div class="input-group">
							<input type="hidden" class="form-control" ng-model="query.date"
								id="selectedDate" required />
						</div>
						<div class="input-group date" id="datepicker">
							<input type="text" class="form-control" data-provide="datepicker"
								readonly>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-5">
						<span class="pull-left">Rate:</span>
					</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" value="{{rate}}"
							ng-disabled="true">
					</div>
				</div>
				<br>
				<div class="row" style="margin-right: 0;">
					<div class="col-sm-6">
						<div ng-show="isLoading" class='uil-ring-css pull-right'></div>
					</div>
					<div class="col-sm-6">
						<button type="submit" ng-click="fetchCurrencyQuery(query)"
							name="searchCurrency" class="btn btn-default pull-right">Search</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>